*
!force-app/
!force-app/main/
!force-app/main/default/
!force-app/main/default/classes/
!force-app/main/default/classes/PartsOrderMyPartListWorkerController.cls
!force-app/main/default/classes/LSTA_PartsOrderMyPartListController.cls
!force-app/main/default/aura/
!force-app/main/default/aura/lsta_wishlist_prod_to_test_by_evander/
!force-app/main/default/aura/lsta_wishlist_prod_to_test_by_evander/*
!force-app/main/default/lwc/
!force-app/main/default/lwc/lsta_PartOrderMyPartList/
!force-app/main/default/lwc/lsta_PartOrderMyPartList/*
!force-app/main/default/lwc/lsta_PartOrderMyPartListAddPartModal/
!force-app/main/default/lwc/lsta_PartOrderMyPartListAddPartModal/*
!force-app/main/default/lwc/lsta_PartOrderMyPartListListModal/
!force-app/main/default/lwc/lsta_PartOrderMyPartListListModal/*
!force-app/main/default/lwc/lsta_PartOrderMyPartListAddToListModal/
!force-app/main/default/lwc/lsta_PartOrderMyPartListAddToListModal/*