.c-container {
    border: 1px solid var(--custom-color-gray3);
    min-height: 26.6875rem;
}
.page-title__wrap {
    display: flex;
    flex-direction: column;
}
.page-title {
    font-size: 0.75rem;
    line-height: 1;
}
.title {
    justify-content: space-between;
    padding:0.75rem;
}

.slds-grid_vertical-align-center {
    gap: .75rem;
}

.header .title-right .slds-form-element__label{
    max-width: inherit;
    font-size: 0.75rem;
    font-weight: 400;
    color:var(--custom-color-black1);
    padding:0;
    margin:0;
}

.wishlist-list {
    font-size: 1.125rem;
    line-height: 1;
    --lwc-brandAccessible:#111;
    --lwc-lineHeightButton:1.4;
}

.wishlist-list .slds-button__label {
    font-size: 1.75rem;   /* 원하는 크기 */
    font-weight: 600;     /* bold */
}

.button-wrap {
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: end;
    flex: 1;
}

.slds-badge {
    background: #EEF2FF;
    border-color: #EEF2FF;
    color: #3755C3;
}

lightning-button-icon {
    --slds-c-button-color-background: #fff;
    --slds-c-icon-color-foreground: var(--custom-color-secondary1);
}

.upload-csv {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: .75rem;
    text-align: center;
}

.empty-wrap {
    background-color: var(--custom-color-gray4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5.5rem;
    padding-bottom: 6.7188rem;
}

.empty-wrap .empty-icon {
    background-color: var(--custom-color-gray2);
    border-radius: 50%;
    margin-bottom: .9063rem;
    width: 4.6875rem;
    height: 4.6875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-wrap p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #AFAFAF;
}
.header .settings-menu-only {
    --lwc-borderRadiusMedium:1rem;
    --slds-c-icon-color-foreground:#0250D9;
    --lwc-colorTextIconDefault:#0250D9;
    --lwc-buttonBorderRadius:2rem;
    --lwc-spacingXSmall:0.25rem;
    --lwc-spacingXxSmall:0;
    --lwc-squareIconMediumContentAlt:1.75rem;
    --lwc-squareIconXSmallContent:.75rem;
}

.settings-menu-only lightning-menu-item {
    --slds-c-icon-color-foreground:#005ABB;
    --lwc-spacingXSmall:0.5rem;
    --lwc-spacingSmall:0.875rem;
}
.header .button-wrap lightning-button{
    height: fit-content;
}
@media (max-width: 64em) {
    .title {
        flex-direction: column;
        padding: .5rem .75rem;
    }

    .button-wrap {
        margin-top: .5rem;
    }

    .button-wrap lightning-button {
        flex: 1;
    }
}